.ball-bouncing {
  background-color: var(--lemon-chiffon);
}

.ball-bouncing::before {
  animation: shadowBouncing 1.2s ease-in infinite;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  bottom: 2rem;
  content: "";
  height: 0.15rem;
  position: absolute;
  width: 2rem;
}

.ball-bouncing .ball {
  animation: ballBouncing 1.2s ease-in infinite;
  /* animation: ballBouncing 1.2s cubic-bezier(0, 0.94, 0.89, 0.76) infinite; */
  bottom: 2.1rem;
  transform-origin: bottom;
}

@keyframes ballBouncing {
  0%,
  100% {
    transform: scale(1.5, 0.5);
  }
  20% {
    transform: scaleY(1.2);
  }
  40%,
  80% {
    transform: translateY(-14rem);
  }
  70% {
    transform: translateY(-15rem);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes shadowBouncing {
  0%,
  100% {
    transform: scale(2, 0.8);
  }
  20% {
    transform: scale(1.2, 0.8);
  }
  40%,
  80% {
    transform: scale(0.5, 0.2);
  }
  70% {
    transform: scale(0.5, 0.15);
  }
  90% {
    transform: scale(1.5, 0.6);
  }
}
