.flap {
  z-index: 5;
  transform: rotateX(0deg);
  
}

.letter {
  transform: translateY(0deg);
  z-index: 1;
}

.envelope:hover .heart {
  animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  animation-delay: 0.7s;
}
.a2 {
  left: 45%;
  transform: scale(1);
  opacity: 1;
  animation-delay: 0.7s;
}
.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  animation-delay: 0.7s;
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}





/* Transición apertura de sobre y salida de carta */
.flap {
  transition: transform 0.4s 0.6s ease, z-index 1s;
}
.envelope:hover .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.letter {
  transition: transform 0.4s ease, z-index 1s;
}
.envelope:hover .letter {
  transform: translateY(-60px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

/* Animation infinita para arreglar */

/* .flap {
  animation: open 4s linear infinite;
  z-index: 5;
}
.letter {
  animation: letterUp 4s linear 1s infitine;
  z-index: 1;
}
.heart {
  animation: slideUp 7s linear 1.2s infinite,
    sideSway 2s ease-in-out 1.2s infinite;
}

@keyframes open {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(180deg);
    z-index: 1;
  }
}

@keyframes letterUp {
  0% {
    transform: translateY(0px);
    z-index: 1;
  }
  100% {
    transform: translateY(-60px);
    z-index: 2;
  }
} */
